// Configuration for the NGS pipeline.
params {
    // path to the gzipped FASTQ read files
    fastq = "./data/Test01_S1_L001_R[12]_001.fastq.gz"
    genome_file = "./index/chr22.fa"
    results_dir = "./output/"
    ecr_url = "179071648746.dkr.ecr.eu-central-1.amazonaws.com/euc1_molok1664813791318-ecr-repo"
}

process {

    // configure executor and queue specific for redcap compute nodes
    
    executor = 'slurm'
    queue = 'bfx-large'

    // configure expected resource usage by specifying the ECR url
    
    withName:mapping {
        container = "${params.ecr_url}:bwa-mem-v1"
        cpus = 1
    }

}

docker {
    enabled = true
    autoMounts = true
}

trace {
  enabled = true
  file = 'trace_pipeline.txt'
  fields = 'task_id,hash,native_id,process,tag,name,container,status,exit,start,complete,duration,realtime,%cpu,rss,vmem,peak_rss,peak_vmem'
  raw = false
}

timeline {
  enabled = true
  file = 'timeline.html'
}
